<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<style>
		* {
			margin: 0;
			padding: 0;
		}

</style>

<body style="height: 100%;">

<div style="background-image: url(/imgs/background.jpg);background-size: cover;position:fixed;width: 20%;height: 100%;float: left;">
    <table style="margin-top: 10%; margin-left: 10%;" align="center" width="60%" height="40%" border="1" cellpadding="2"
           th:if="${Role == 0}">
        <tr align="center">
            <td>
                <a href="#" th:href="@{/home}">首页</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/device}">资产查询</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/user}">更改密码</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/access/logout}">退出登录</a>
            </td>
        </tr>
    </table>
    <table style="margin-top: 10%; margin-left: 10%;" align="center" width="60%" height="40%" border="1" cellpadding="2"
           th:if="${Role == 1}">
        <tr align="center">
            <td>
                <a href="#" th:href="@{/home}">首页</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/device}">资产管理</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/user}">人员管理</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/device/use}">资产领用</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/device/return}">资产归还</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <a href="#" th:href="@{/access/logout}">退出登录</a>
            </td>
        </tr>
    </table>
</div>

<div style="background-image: url(/imgs/background.jpg);background-size: cover;position: fixed;margin-left: 25%; width: 75%;height: 100%;">
    <table style="margin-top: 10%; margin-left: 10%;border-spacing: 10px 20px;" align="center" width="80%" height="60%"
           border="1" cellpadding="2">
        <form action="#" th:action="@{/device/all}" method="get">
            <tr align="center">
                <td>
                    一级类别
                    <select id="level1" name="level1">
                        <option th:each="level,index:${Levels}" th:text="${level.name}" th:value="${level.id}"></option>
                    </select>
                </td>
                <td>
                    <button class="select" type="submit">查询</button>
                </td>
            </tr>
        </form>
        <form action="#" th:action="@{/device/all}" method="get">
            <tr align="center">
                <td>
                    二级类别
                    <select id="level2" name="level2">
                        <option th:each="level,index:${Levels[0].level2s}" th:text="${level.name}"
                                th:value="${level.id}"></option>
                    </select>
                </td>
                <td>
                    <button class="select" type="submit">查询</button>
                </td>
            </tr>
        </form>
        <form action="#" th:action="@{/device/all}" method="get">
            <tr align="center">
                <td>
                    名称
                    <input id="name" name="name"/>
                </td>
                <td>
                    <button class="select" type="submit">查询</button>
                </td>
            </tr>
        </form>
        <tr align="center" th:if="${Role == 1}">
            <td colspan="2">
                <button id="insert">增加</button>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="../../jquery-3.4.1.min.js" th:src="@{/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var levels = [[${Levels}]];

	$(function() {
		$('#level1').on("input propertychange", function () {
			$('#level2').empty();
			for(var i = 0; i < levels.length; i++) {
				if(levels[i].id == $(this).val()){
					for(var j = 0; j < levels[i].level2s.length; j++) {
						var option = $("<option>").val(levels[i].level2s[j].id).text(levels[i].level2s[j].name);
						$('#level2').append(option);
					}
					break;
				}
			}
		});

		$('#insert').on("click", function () {
			location.href = "/device/insert";
		});
	});

</script>
</body>

</html>